<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLFOLDER">
            <Component Id="cmp621219EB3413CC61F15F0DCDB9A94C8E" Guid="{7848DB61-8ACE-4B34-9EFD-248616804BF3}">
                <File Id="fil07EF9FE3923572C7428CDF8350CD27AB" KeyPath="yes" Source="$(var.BasePath)\AdonisUI.ClassicTheme.dll" />
            </Component>
            <Component Id="cmp1BAD1C70D23E63495E6A63D07190CBF8" Guid="{5B0EB396-88C2-4BB4-9FE8-3FC078BEF031}">
                <File Id="fil54FA5AAD8B6B1BDA9662E872E3BA1A0B" KeyPath="yes" Source="$(var.BasePath)\AdonisUI.dll" />
            </Component>
            <Component Id="cmp13D58469BCB864EB53214ED46E622188" Guid="{F47080C3-753F-4D5C-9179-C58CF64DF11A}">
                <File Id="fil28F7A9478894C77C5F6C2A95DAA4B459" KeyPath="yes" Source="$(var.BasePath)\log4net.dll" />
            </Component>
            <Component Id="cmp742785C9A7B88BE6B2E81C2322E3D2EE" Guid="{639D3847-32F8-4EAB-A665-CC69F75E534B}">
                <File Id="filA307C00D897BECB908C510DE71A3AD29" KeyPath="yes" Source="$(var.BasePath)\log4net.xml" />
            </Component>
            <Component Id="cmp3949728EA9840BC34724197B368334AC" Guid="{1F1BAF0C-81C9-4931-8978-89B1E8118C34}">
                <File Id="filDEA4341F561E3B7A80B31531A2FA0E17" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Deployment.WindowsInstaller.dll" />
            </Component>
            <Component Id="cmpD934540173D40242779BB19D5EA1176B" Guid="{35D5DD6B-5AFF-44AF-B9E1-8E49983331B8}">
                <File Id="filDD5FDA3F50ACFEB1CA6EA48EAC195C04" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Deployment.WindowsInstaller.xml" />
            </Component>
            <Component Id="cmpBB1767D7C200C536ABB2D361F40F9D92" Guid="{29309A84-50F4-4CFD-AEDA-851E31B18C49}">
                <File Id="fil4E0F4321F336BF83461A34116F3E30B7" KeyPath="yes" Source="$(var.BasePath)\Microsoft.WindowsAPICodePack.dll" />
            </Component>
            <Component Id="cmp702FCD8F941D530EED089ED86491F3AF" Guid="{09945334-141D-483C-8C46-4CD66983E662}">
                <File Id="filAAF0A287D1C4C9A238DFF053ADA2B1C8" KeyPath="yes" Source="$(var.BasePath)\Microsoft.WindowsAPICodePack.Shell.dll" />
            </Component>
            <Component Id="cmpE88393F8D170D55404F690FD880FB82D" Guid="{7AEE43B2-9445-44EE-AFB8-8FF80601FF09}">
                <File Id="fil0205344CDBB598E9DD71B4A956564B40" KeyPath="yes" Source="$(var.BasePath)\Microsoft.WindowsAPICodePack.Shell.xml" />
            </Component>
            <Component Id="cmpBECE52D8D61755FF9BCA1A568C9F737F" Guid="{98EB1E27-386E-41A1-A38E-C8F9880F8790}">
                <File Id="fil0B315F9C6BBEA8BB50F0B13913030274" KeyPath="yes" Source="$(var.BasePath)\Microsoft.WindowsAPICodePack.xml" />
            </Component>
            <Component Id="cmpBC4FC00A26E7D32479D42D3411317FC5" Guid="{D52C5CAC-6BCC-44D6-8A67-9FE4A9288AD6}">
                <File Id="fil90A8AAD9FC612906D405476D61CEA3F4" KeyPath="yes" Source="$(var.BasePath)\Newtonsoft.Json.dll" />
            </Component>
            <Component Id="cmp22E746D6F416E29CB766C7D18764B4B9" Guid="{B748C9E7-2095-4799-AA85-17B5A9644843}">
                <File Id="filCDAFB89F0B81C3E6CC5A00DBBB38E11F" KeyPath="yes" Source="$(var.BasePath)\Newtonsoft.Json.pdb" />
            </Component>
            <Component Id="cmp125C379E185231EFADA4CB4301BD0A9E" Guid="{6FDC1421-1284-4D47-BE75-02923B5CE375}">
                <File Id="fil3A2F44A7730E98D18E0948B3261DFABD" KeyPath="yes" Source="$(var.BasePath)\Newtonsoft.Json.xml" />
            </Component>
            <Component Id="cmpDA60982F820038280380BE207B6E738E" Guid="{313FF85A-B651-4A87-B8DD-F51702D19593}">
                <File Id="filFB25B5D44CA54D4D876DD0B5BC0DA0E0" KeyPath="yes" Source="$(var.BasePath)\Ninject.dll" />
            </Component>
            <Component Id="cmpB8D71C46885F3F849C4526BB4F6C303F" Guid="{7FDB7CDA-F9EA-4EDF-833F-A1BF2B6555B1}">
                <File Id="filE3269A14F34C799370A12BE5D82002D0" KeyPath="yes" Source="$(var.BasePath)\Ninject.xml" />
            </Component>
            <Component Id="cmp26A3ED537FB8D0C7A7BC4F11D21F5EC0" Guid="{EE9D4122-F908-452B-9998-691CFA9BB097}">
                <File Id="filB3E533E7CE2BA1688E1214C9E105D930" KeyPath="yes" Source="$(var.BasePath)\NKristek.Smaragd.dll" />
            </Component>
            <Component Id="cmp5560189188939B0148DA7CD297F0DDB0" Guid="{5964589A-1950-436A-83A8-8EBCB55F5F6C}">
                <File Id="filCD0E655E680D71CEF1EC441FFDA5218B" KeyPath="yes" Source="$(var.BasePath)\NKristek.Smaragd.xml" />
            </Component>
            <Component Id="cmpC8143A9F42CB5DD12FB2FA0BAE728E64" Guid="{1B2C9B06-3C0F-4AE4-AC47-8002BBA9DDAF}">
                <File Id="filCF0F1E8147CF63F83358EB2C7E272263" KeyPath="yes" Source="$(var.BasePath)\NKristek.Wpf.Converters.dll" />
            </Component>
            <Component Id="cmp80CC22AA7163BB523F2B189C3C1AC3BA" Guid="{7177B806-6BE7-454B-85E9-84FE486D478E}">
                <File Id="fil9DB7F52A7FAE21562C0F40B75EB10521" KeyPath="yes" Source="$(var.BasePath)\Stein.exe" />
            </Component>
            <Component Id="cmpB44ADD4AA4E4E573C5F2A3CC6C7341EE" Guid="{BC278107-B7EF-4196-9C8B-DC1EF4199E8F}">
                <File Id="fil6160F64432E1AEC0AF7513EDED3379B4" KeyPath="yes" Source="$(var.BasePath)\Stein.exe.config" />
            </Component>
            <Component Id="cmp2753069F4A0461EE964A45AAC01D2773" Guid="{9119ACDD-5B48-4EBD-B4DF-1827D983AE3C}">
                <File Id="filA32A6CE8D921A30DEF4235235D602225" KeyPath="yes" Source="$(var.BasePath)\Stein.Helpers.dll" />
            </Component>
            <Component Id="cmp5A14144D15E436599C26172B66808176" Guid="{B271FD4F-339F-4B9A-99F9-C4D983ADCD45}">
                <File Id="fil676A9F8F671E826D43837D3FC663E750" KeyPath="yes" Source="$(var.BasePath)\Stein.Helpers.pdb" />
            </Component>
            <Component Id="cmpED641F5C7E1F293A5B8812F589F764EF" Guid="{B8B7F128-9DB9-44F5-B4A6-4C6D2BF30315}">
                <File Id="fil35A2D07664B4BA5BBADC8F6BB99D11DF" KeyPath="yes" Source="$(var.BasePath)\Stein.Localizations.dll" />
            </Component>
            <Component Id="cmp155676A8FAAE21FE05A5EB8D9F9C7B35" Guid="{872DA55F-3B64-4CD8-B102-2106784D62D8}">
                <File Id="filE71EE3984D1F7C5CFB9DBA10EA613BB2" KeyPath="yes" Source="$(var.BasePath)\Stein.Localizations.pdb" />
            </Component>
            <Component Id="cmpE1C7E6EE5629AE9C1FBFD1AD588A29A4" Guid="{EEA2F8F3-4668-4BAD-A7A5-545F8B3590FC}">
                <File Id="fil42589FA82BB527F9EBF305C0747C4AF6" KeyPath="yes" Source="$(var.BasePath)\Stein.pdb" />
            </Component>
            <Component Id="cmp5512D7F05DACA81A8A06F4F97AF0AFF0" Guid="{44C18C18-4C23-45F6-8F74-DD985F65A19D}">
                <File Id="filF0C3039A818F25D85147091638DD92EF" KeyPath="yes" Source="$(var.BasePath)\Stein.Presentation.dll" />
            </Component>
            <Component Id="cmp756C8BF9522F2CD1E8CDC188E600CF44" Guid="{DF885F33-D158-477B-A1E0-1FD13831FE01}">
                <File Id="fil417B480D64E943C74A2BAAF8DBE100A2" KeyPath="yes" Source="$(var.BasePath)\Stein.Presentation.pdb" />
            </Component>
            <Component Id="cmp742620C91BBE397CF92FEC53271C2BD6" Guid="{33E00DAF-A137-4104-AA27-8099CB7B1EE5}">
                <File Id="fil03C8C82E678A7F0B4523F011AD059775" KeyPath="yes" Source="$(var.BasePath)\Stein.Services.dll" />
            </Component>
            <Component Id="cmpA9273F2E112C64184140604AF324D87A" Guid="{83153600-FE3A-4F90-99B8-9B3ACC87D022}">
                <File Id="filC14F36105856D657AC6AAAFEEF2BB094" KeyPath="yes" Source="$(var.BasePath)\Stein.Services.pdb" />
            </Component>
            <Component Id="cmpEF3A4295D88AFF35030388BA1D7588F1" Guid="{22F3262B-2BC0-4040-85D4-D2ADA42BB2FB}">
                <File Id="fil432CEEB8620C40517757328476ED7F3B" KeyPath="yes" Source="$(var.BasePath)\Stein.ViewModels.dll" />
            </Component>
            <Component Id="cmpA87BB482BE24F9702A1A5B87F7B81EF8" Guid="{824090EE-591C-4F9B-9686-8DBD0AE973E2}">
                <File Id="fil313F0C1A98A95F519B548E6E6CF5E98C" KeyPath="yes" Source="$(var.BasePath)\Stein.ViewModels.pdb" />
            </Component>
            <Component Id="cmpE66DC2F5CE96E78D225DD54FE48FCA11" Guid="{6690AE58-6C15-4E3D-B20A-FA3D791D98DD}">
                <File Id="filD1A7FCD3FB290EF8C60DA54B9BB1F605" KeyPath="yes" Source="$(var.BasePath)\Stein.Views.dll" />
            </Component>
            <Component Id="cmp58B3E719AF548E9111F19D1CC04A9408" Guid="{F9BA27EC-C22D-49E2-A0A2-B7D0C85485AE}">
                <File Id="fil78D4A956C6EDCC2940D658823F9EC4DB" KeyPath="yes" Source="$(var.BasePath)\Stein.Views.pdb" />
            </Component>
            <Component Id="cmp017BFB3832A5B110A2B3A350E13F2A5C" Guid="{D383603B-7F81-49AD-B5F4-7C1F392CA13B}">
                <File Id="fil17E34524E8398461D615894C92558FE9" KeyPath="yes" Source="$(var.BasePath)\System.Windows.Interactivity.dll" />
            </Component>
            <Component Id="cmp278E62245C5B0A0B8A6A38F03AFAF157" Guid="{ECF96EEF-AA8F-4000-AB23-E0F3F010570D}">
                <File Id="fil79CEBF2A3B2604BFFEE54F9D75DFEB94" KeyPath="yes" Source="$(var.BasePath)\System.Windows.Interactivity.xml" />
            </Component>
            <Directory Id="dir242DC17B8DFC53C13CAF172FC08B730A" Name="de">
                <Component Id="cmp8831E0792FF02349A4EE13D7A4EC7025" Guid="{F48E39AF-4241-4E94-B19E-CBA808998FE6}">
                    <File Id="fil218B3999AF103C32AC5D54545C6B1373" KeyPath="yes" Source="$(var.BasePath)\de\Stein.Localizations.resources.dll" />
                </Component>
            </Directory>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="PublishedComponents">
            <ComponentRef Id="cmp621219EB3413CC61F15F0DCDB9A94C8E" />
            <ComponentRef Id="cmp1BAD1C70D23E63495E6A63D07190CBF8" />
            <ComponentRef Id="cmp13D58469BCB864EB53214ED46E622188" />
            <ComponentRef Id="cmp742785C9A7B88BE6B2E81C2322E3D2EE" />
            <ComponentRef Id="cmp3949728EA9840BC34724197B368334AC" />
            <ComponentRef Id="cmpD934540173D40242779BB19D5EA1176B" />
            <ComponentRef Id="cmpBB1767D7C200C536ABB2D361F40F9D92" />
            <ComponentRef Id="cmp702FCD8F941D530EED089ED86491F3AF" />
            <ComponentRef Id="cmpE88393F8D170D55404F690FD880FB82D" />
            <ComponentRef Id="cmpBECE52D8D61755FF9BCA1A568C9F737F" />
            <ComponentRef Id="cmpBC4FC00A26E7D32479D42D3411317FC5" />
            <ComponentRef Id="cmp22E746D6F416E29CB766C7D18764B4B9" />
            <ComponentRef Id="cmp125C379E185231EFADA4CB4301BD0A9E" />
            <ComponentRef Id="cmpDA60982F820038280380BE207B6E738E" />
            <ComponentRef Id="cmpB8D71C46885F3F849C4526BB4F6C303F" />
            <ComponentRef Id="cmp26A3ED537FB8D0C7A7BC4F11D21F5EC0" />
            <ComponentRef Id="cmp5560189188939B0148DA7CD297F0DDB0" />
            <ComponentRef Id="cmpC8143A9F42CB5DD12FB2FA0BAE728E64" />
            <ComponentRef Id="cmp80CC22AA7163BB523F2B189C3C1AC3BA" />
            <ComponentRef Id="cmpB44ADD4AA4E4E573C5F2A3CC6C7341EE" />
            <ComponentRef Id="cmp2753069F4A0461EE964A45AAC01D2773" />
            <ComponentRef Id="cmp5A14144D15E436599C26172B66808176" />
            <ComponentRef Id="cmpED641F5C7E1F293A5B8812F589F764EF" />
            <ComponentRef Id="cmp155676A8FAAE21FE05A5EB8D9F9C7B35" />
            <ComponentRef Id="cmpE1C7E6EE5629AE9C1FBFD1AD588A29A4" />
            <ComponentRef Id="cmp5512D7F05DACA81A8A06F4F97AF0AFF0" />
            <ComponentRef Id="cmp756C8BF9522F2CD1E8CDC188E600CF44" />
            <ComponentRef Id="cmp742620C91BBE397CF92FEC53271C2BD6" />
            <ComponentRef Id="cmpA9273F2E112C64184140604AF324D87A" />
            <ComponentRef Id="cmpEF3A4295D88AFF35030388BA1D7588F1" />
            <ComponentRef Id="cmpA87BB482BE24F9702A1A5B87F7B81EF8" />
            <ComponentRef Id="cmpE66DC2F5CE96E78D225DD54FE48FCA11" />
            <ComponentRef Id="cmp58B3E719AF548E9111F19D1CC04A9408" />
            <ComponentRef Id="cmp017BFB3832A5B110A2B3A350E13F2A5C" />
            <ComponentRef Id="cmp278E62245C5B0A0B8A6A38F03AFAF157" />
            <ComponentRef Id="cmp8831E0792FF02349A4EE13D7A4EC7025" />
        </ComponentGroup>
    </Fragment>
</Wix>